* {
  box-sizing: border-box;
}

body {
  background: url(imgs/background.jpg) no-repeat center;
  background-size: cover;
  /* height: 100vh; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.container h3 {
  text-align: center;
}
.container {
  min-height: 86vh;
  margin-top: 20px;
  width: 95vw;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(18, 18, 24, 0.5);
  border-radius: 20px;
  border: 0.2px solid rgba(255, 255, 255, 0.26);
}

/* project name and data */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 50px;
  font-style: italic;
  color: rgb(255, 255, 255);
}

.project-title span {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}

.coming-soon {
  font-size: 30px;
  margin-bottom: 5px;
}

.details {
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .details {
    width: 80%;
  }
}
/* -------------------------- */

/* Cards */

.supervision,
.frontend,
.backend {
  margin-top: 20px;
}

.supervisors,
.frontenders,
.backenders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(201, 38, 38, 0.062);
  box-shadow: 0 8px 25px 0 rgba(57, 60, 99, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 0.2px solid rgba(255, 255, 255, 0.452);
  padding: 13px;
  margin: 10px;
}

.supervisor-card {
  min-width: 330px;
}

.card img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.dev-card {
  min-width: 265px;
  margin: 5px;
  padding: 10px;
}

.dev-card img {
  width: 40px;
  height: 40px;
}
.backend {
  margin-bottom: 30px;
}

footer {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
