* {
  box-sizing: border-box;
}

body {
  background: url(imgs/background.jpg) no-repeat center fixed;
  background-size: cover;
  /* height: 100vh; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
h3 {
  text-align: center;
}
.container {
  margin-top: 20px;
  width: 95vw;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px 0 rgba(18, 18, 24, 0.5);
  border-radius: 20px;
  border: 0.2px solid rgba(255, 255, 255, 0.26);
}

/* project name and data */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 50px;
  font-style: italic;
  color: rgb(255, 255, 255);
}

.project-title span {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}

.coming-soon {
  font-size: 30px;
  margin-bottom: 5px;
}

.details {
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .details {
    width: 80%;
  }
}
/* -------------------------- */

/* Cards */

.supervision,
.frontend,
.backend {
  margin-top: 20px;
}

.supervisors,
.frontenders,
.backenders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(201, 38, 38, 0.062);
  box-shadow: 0 8px 25px 0 rgba(57, 60, 99, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 0.2px solid rgba(255, 255, 255, 0.452);
  padding: 13px;
  margin: 10px;
}

.supervisor-card {
  min-width: 330px;
}

.card img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.dev-card {
  min-width: 265px;
  margin: 5px;
  padding: 10px;
}

.dev-card img {
  width: 40px;
  height: 40px;
}
.backend {
  margin-bottom: 30px;
}

/* timeline */

:root {
  --font-sans: "Poppins", sans-serif;
  --color: #ffffff;
}

.timeline {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
}

.time__entry {
  font-size: 1em;
  line-height: 1.5em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 6px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: var(--color);
}

@media only screen and (max-width: 600px) {
  .time__entry {
    padding: 30px;
  }
  .timeline {
    width: 50%;
  }
}

.time__entry:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: #2d2c64;
  text-align: center;
  line-height: 1.25em;
  color: var(--color);
  font-size: 1em;
}

.time__entry:nth-child(odd) {
  border-right: 6px solid;
  padding-left: 0;
}

.time__entry:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
}

.time__entry:nth-child(even) {
  border-left: 6px solid;
  padding-right: 0;
}

.time__entry:nth-child(even):before {
  right: 100%;
  margin-right: -20px;
}

.time__entry:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.time__entry:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.title {
  text-align: left;
  margin-bottom: 10px;
  font-style: italic;
}

.mini-title {
  text-align: left;
  font-style: italic;
}
/* ------------ */

.time__entry p {
  margin-bottom: 25px;
}

.btn {
  background: linear-gradient(100deg, #743ad5 0%, #d53a9d 100%);
  padding: 10px 30px;
  color: var(--color);
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 8px 25px 0 rgba(57, 60, 99, 0.37);
  font-weight: bold;
}

.btn:hover {
  background: linear-gradient(30deg, #d53a9d 0%, #743ad5 100%);
  font-style: italic;
  box-shadow: 0 8px 25px 0 rgba(129, 136, 224, 0.37);
}

/* footer */

footer {
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

/* --------------------- */
